@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

$open-sans: "Open Sans", sans-serif;

$mobile: 640px;
$tablet: 1022px;
$desktop: 1200px;
$large-desktop: 1679px;

$dusty: #96858F;
$lavendar: #6D7993;
$overcast: #9099A2;
$paper: #D5D5D5;

